<div>
    <h2 id="page-heading">
        <span jhiTranslate="curriculumwebApp.competenceAplication.home.title">Competence Aplications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competence-aplication" [routerLink]="['/competence-aplication/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="curriculumwebApp.competenceAplication.home.createLabel">
            Create new Competence Aplication
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="competenceAplications">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="curriculumwebApp.competenceAplication.compApliName">Comp Apli Name</span></th>
            <th><span jhiTranslate="curriculumwebApp.competenceAplication.compApliLevel">Comp Apli Level</span></th>
            <th><span jhiTranslate="curriculumwebApp.competenceAplication.compApliDesc">Comp Apli Desc</span></th>
            <th><span jhiTranslate="curriculumwebApp.competenceAplication.experience">Experience</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competenceAplication of competenceAplications ;trackBy: trackId">
                <td><a [routerLink]="['/competence-aplication', competenceAplication.id, 'view' ]">{{competenceAplication.id}}</a></td>
                <td>{{competenceAplication.compApliName}}</td>
                <td>{{competenceAplication.compApliLevel}}</td>
                <td>{{competenceAplication.compApliDesc}}</td>
                <td>
                    <div *ngIf="competenceAplication.experience">
                        <a [routerLink]="['../experience', competenceAplication.experience?.id, 'view' ]" >{{competenceAplication.experience?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/competence-aplication', competenceAplication.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/competence-aplication', competenceAplication.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'competence-aplication/'+ competenceAplication.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
