<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="competenceAplication">
            <h2><span jhiTranslate="curriculumwebApp.competenceAplication.detail.title">Competence Aplication</span> {{competenceAplication.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="curriculumwebApp.competenceAplication.compApliName">Comp Apli Name</span></dt>
                <dd>
                    <span>{{competenceAplication.compApliName}}</span>
                </dd>
                <dt><span jhiTranslate="curriculumwebApp.competenceAplication.compApliLevel">Comp Apli Level</span></dt>
                <dd>
                    <span>{{competenceAplication.compApliLevel}}</span>
                </dd>
                <dt><span jhiTranslate="curriculumwebApp.competenceAplication.compApliDesc">Comp Apli Desc</span></dt>
                <dd>
                    <span>{{competenceAplication.compApliDesc}}</span>
                </dd>
                <dt><span jhiTranslate="curriculumwebApp.competenceAplication.experience">Experience</span></dt>
                <dd>
                    <div *ngIf="competenceAplication.experience">
                        <a [routerLink]="['/experience', competenceAplication.experience?.id, 'view']">{{competenceAplication.experience?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/competence-aplication', competenceAplication.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
