<div>
    <h2 id="page-heading">
        <span jhiTranslate="curriculumwebApp.competence.home.title">Competences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competence" [routerLink]="['/competence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="curriculumwebApp.competence.home.createLabel">
            Create new Competence
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="competences">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compName"><span jhiTranslate="curriculumwebApp.competence.compName">Comp Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="compDesc"><span jhiTranslate="curriculumwebApp.competence.compDesc">Comp Desc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="competenceAplication.id"><span jhiTranslate="curriculumwebApp.competence.competenceAplication">Competence Aplication</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competence of competences ;trackBy: trackId">
                <td><a [routerLink]="['/competence', competence.id, 'view' ]">{{competence.id}}</a></td>
                <td>{{competence.compName}}</td>
                <td>{{competence.compDesc}}</td>
                <td>
                    <div *ngIf="competence.competenceAplication">
                        <a [routerLink]="['../competence-aplication', competence.competenceAplication?.id, 'view' ]" >{{competence.competenceAplication?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/competence', competence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/competence', competence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'competence/'+ competence.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="competences && competences.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
