<div>
    <h2 id="page-heading">
        <span jhiTranslate="curriculumwebApp.experience.home.title">Experiences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-experience" [routerLink]="['/experience/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="curriculumwebApp.experience.home.createLabel">
            Create new Experience
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="experiences">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="inicial"><span jhiTranslate="curriculumwebApp.experience.inicial">Inicial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="end"><span jhiTranslate="curriculumwebApp.experience.end">End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryName"><span jhiTranslate="curriculumwebApp.experience.countryName">Country Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="city"><span jhiTranslate="curriculumwebApp.experience.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="company.id"><span jhiTranslate="curriculumwebApp.experience.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let experience of experiences ;trackBy: trackId">
                <td><a [routerLink]="['/experience', experience.id, 'view' ]">{{experience.id}}</a></td>
                <td>{{experience.inicial | date:'mediumDate'}}</td>
                <td>{{experience.end | date:'mediumDate'}}</td>
                <td>{{experience.countryName}}</td>
                <td>{{experience.city}}</td>
                <td>
                    <div *ngIf="experience.company">
                        <a [routerLink]="['../company', experience.company?.id, 'view' ]" >{{experience.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/experience', experience.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/experience', experience.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'experience/'+ experience.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
