<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-role-heading" jhiTranslate="curriculumwebApp.role.home.createOrEditLabel">Create or edit a Role</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!role.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="role.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="curriculumwebApp.role.roleName" for="field_roleName">Role Name</label>
                    <input type="text" class="form-control" name="roleName" id="field_roleName"
                        [(ngModel)]="role.roleName" required/>
                    <div [hidden]="!(editForm.controls.roleName?.dirty && editForm.controls.roleName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.roleName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="curriculumwebApp.role.roleDescription" for="field_roleDescription">Role Description</label>
                    <input type="text" class="form-control" name="roleDescription" id="field_roleDescription"
                        [(ngModel)]="role.roleDescription" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="curriculumwebApp.role.experience" for="field_experience">Experience</label>
                    <select class="form-control" id="field_experience" name="experience" [(ngModel)]="role.experience" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="experienceOption.id === role.experience?.id ? role.experience : experienceOption" *ngFor="let experienceOption of experiences; trackBy: trackExperienceById">{{experienceOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
